.anchor {
  color: white !important;
  font-size: 1.18rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-self: start;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
}

.spacer {
  padding: 0 15px;
}
