.hero {
  color: white;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 200px;
  justify-content: center;
  gap: 30px;
}

.searchInput{
  width: 80%;
  max-width: 500px;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  font-size: 1.2rem;
  outline: none;
  color: #B5A9F8;
}

.searchInput::placeholder{
  color: #B5A9F8;
}

.hero button {
  padding: 10px 40px;
}


.heroButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin:20px;
}

